{% extends "nav/nav.html" %}


{% load crispy_forms_tags %}

{% block nav %}

<div class="container">
  <form method="post">
    {% csrf_token %}
    <div><small style = "padding-left:50%; margin-bottom: 40%;">STEP 2 OF 2</small></br></br></div>
      <h3 class='clear'>Invite guests by email</h3>
      
      {{ form | crispy}}
          <div class="submitbtn">
            <button type="submit" class="btn btn-info right" id ="invitation_btn"> Send Invitation </button>
     
          </div>
      
   
  </form>
</div>
<style>
body{
  background-color: rgb(79, 88, 176);
}
.clear{
  padding-bottom: 5%;
}
#invitation_btn{
  
  background-color: rgb(79, 88, 176);
}


.id_email{
  padding: 10%;
}
.submitbtn{
  padding-left: 74%;
  padding-top: 6%;
}

</style>
{% endblock %}
