 
<!DOCTYPE html> 
{% extends "nav/nav.html" %}
{% load static %}
{% block nav %}


<div class="container wel-container"><span class="welcome">Welcome, {{ request.user }}</span></div>
<div class="container-lg" id ="cal">

<div class="container">
    
   

    <a class="btn btn-primary right mr-2" href="{% url 'first_app:calendar' %}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-primary right mr-2" href="{% url 'first_app:calendar' %}?{{ prev_month }}"> << Previous Month </a>

</div>
    {{ calendar }}
</div>
    
</div>
</section>



<style>
    .month{
        text-align: center;
        font-size:40px;
    }
    #cal{
        padding-top:10%;
    }
    .calendar{
        width:100%;
       height: 60%;
      
     

    }
    
</style>
{% endblock %}