
<!DOCTYPE html>
{% extends "nav/nav.html" %}
{% load static %}
{% block nav %}

<div class="container">
 {% for event, value in event_dict.items %}
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">{{ event }}</h5>
          <p class="card-text">{{ value.start }}</p>
          <p class="card-text">{{  value.end }}</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
  {% endfor %}
</div>

<style>
body{
  background-color: rgb(79, 88, 176);
}
</style>

{% endblock %}
