<!DOCTYPE html>
{% extends "nav/nav.html" %}


{% load crispy_forms_tags %}

{% block nav %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
</head>
<body>
   
    <div class='container'>
        <div><small style = "padding-left:50%; margin-bottom: 40%;">STEP 1 OF 2</small></br></br></div>
        <div class='row'>
            <div class='col'>
                <h4>Stick to the original plan</h4>
                <hr class="my-4">
                <h4>Event Name: {{ event.title }}</h4>
                <p>From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: gray;">{{ event.end_time }}</span></p>
                <hr>
                <p>{{ event.description }}</p>
                <a class="btn btn-outline-info" type="button" href="{% url 'first_app:add_eventmember' event.id %}" >Next</a>
            </div>
      
        <div class='col-2' style="margin-left: 21%;"><h4>or</h4></div>
      
        <div class ="col">
           <h4>Give options to attendees</h4> 
          
          
         <form id = "form-container"method="POST">
           {% csrf_token %}
           {{formset.management_form}}
           {% for form in formset %}
           <div class ='form-row'>
            {{form}}
           </div>
                   
           {% endfor %}
          
         <button class ="btn btn-info" id = "add-form" >Add</button>
         <button class ="btn btn-info" id = "remove-form" >Remove</button>
         <hr class="my-4">
         <button class="btn btn-outline-info" type="submit" href="{% url 'first_app:add_eventmember' event.id %}" >Next</button>
      
        </form>
        </div>
       

       </div>
      

    </div>

    <div class= 'container'>


    </div>

</body>
<style>
.vl {
  border-left: 1px solid rgb(179, 180, 179);
  height: 100px;
  position: absolute;
  left: 52.5%;
  margin-left: -3px;
  top:70%
  
}
.btn {
  margin-top: 4%;
}
</style>

</html>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
<script type="text/javascript">
        let formrow = document.querySelectorAll(".form-row")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let removeButton = document.querySelector('#remove-form')
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = formrow.length-1
        addButton.addEventListener('click', addForm)
        removeButton.addEventListener('click',removeForm)

        function addForm(e){
            e.preventDefault()

            let newForm = formrow[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)
            
            totalForms.setAttribute('value', `${formNum+1}`)
        }
        function removeForm(e){
          e.preventDefault()
          let formRegex = RegExp(`form-(\\d){1}-`,'g')
          let formrow2 = document.querySelectorAll(".form-row")
          formrow2[formNum].remove()
          formNum--
          totalForms.setAttribute('value', `${formNum-1}`)
        
        }
</script>
{% endblock %}
