
<!DOCTYPE html>
{% extends "nav/nav.html" %}
{% load static %}
{% block nav %}

<div >
    <h3>Event Name: {{ event.title }}</h3>
    <p>From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: gray;">{{ event.end_time }}</span></p>
    <hr>
    <p>{{ event.description }}</p>
</div>
<hr>
<div >
    <h4 class="left" > Members of this Event</h4>
    <!-- <a class="btn btn-primary " href="{% url 'first_app:add_eventmember' event.id %}"> Add Member </a> -->
    {% if event_option %}
      <a class="btn btn-primary " id ="add_btn" href="{% url 'first_app:add_eventmember' event.id %}"> Add Member </a>
      <a class="btn btn-danger" href="{% url 'first_app:finalize_option' event.id %}">Choose Final Option</a>
    {% else %}
      <a class="btn btn-primary " id = "add_btn" href="{% url 'first_app:event_options' event.id %}"> Add Member </a>

    {% endif %}
</div>
<table class="table table-bordered">
    <thead>
        <tr>
          <th style="width: 10px">#</th>
          <!-- <th>Name</th>
          <th>Username</th> -->
          <th>Email</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for member in eventmember %}
        <tr role="row">
            <td>{{ forloop.counter }}</td>
           
            <td>{{member.email}}</td>
            <td>{{member.name}}</td>
            <td>{{ member.status }}</td>
            <td>
                <!-- <a class="btn btn-danger" href="{% url 'first_app:remove_event' member.id %}">Remove</a> -->
            </td>
        </tr>
        {% endfor %}
      </tbody>
    
</table>
<style>
body{
  background-color: rgb(79, 88, 176);

}
#add_btn{
  margin: 3% 3% 3% 0%;
}
.btn-danger{
  margin: 3% 3% 3% 0%;
}
</style>

{% endblock %}
