
*  {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background:linear-gradient(to left, #ba7453, #d1a984); */
    /* background-color: #CDB99C; */
    box-shadow:inset 0 0 0 2000px #003366;
    z-index: -1;
}
.hamburger{
    width: 40px;
    justify-self: end;

}

nav{
    display: grid;
    grid-template-columns: 5% 0.25fr repeat(2, 120px) 1fr;
    /* grid-template-columns: repeat(3, 100px); */
    min-height: 10vh;
    color:black;
    background-color: white;
    border-bottom: 1px solid rgba(240, 235, 235, 0.952);


}
#logo{
    grid-column: 2/3;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    margin-top: 3%;
}
#signin{
   
    top: 7%;
    height: fit-content;
    margin-top: 2%;
    width: 13%;
    border-radius: 15px;
    margin-left: 80%;
}

.home{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
  
}
.hero{
    height:60%;
    width:100%;
    position: relative;
   
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 40px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;

}
.hero::after{
    content: "";
    background: black;
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.3;
}

.headbutton {
    position: absolute;
    display:flex;
    padding-top: 8%;
}

#logo {
    color:black;
    text-decoration: none;
    padding-top: 3%;
}

.welcome{
    /* padding-top: 10%; */
}
.wel-container{
    /* margin-top: 5%; */
}

#nav-link{
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: black;
    font-family: 'Work Sans', sans-serif;
    
}


html{
    height: 100%;
}
body{
    height: 100%;
}
.signup_section{
    height: 100%;
    display: flex;
}
#signup_img{
   
    padding: 0;
    width: 100%;

}

#signup_wel{
    font-size:40px;
    padding-top: 7%;
    padding-left: 10%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#double_column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.column:nth-child(2){
   
}
#google_btn{
  
  width: 75%;
  color:black; 
  background-color: white; 
  margin: 10% 10% 0 12.5%; 
  border-color: rgb(112, 108, 108);
  display: flex; 
  border-radius: 12px;
}

.column{
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}
#close{
              
                
    height: fit-content;
   
   
    outline:0;
    transition-duration: 0.4s;
    border: none;

    position: absolute;
    right: 32px;
   
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-color: rgba(0, 0, 255, 0) !important
    
}
#close:hover{
 
    opacity: 1;
}

#close:before, #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
#close:before {
    transform: rotate(45deg);
}
#close:after {
    transform: rotate(-45deg);
}

.img_logo{
    margin: 10% 40% 0%;
    width: 21%;
}






#signup_welcome{
    font-family: 'Lora', serif;
    text-align:center; 
    font-size: 20px;
    margin-top: 4%;
}

#signup_logo{
    font-family: 'Abril Fatface', cursive;
    text-align:center; 
    font-size: 35px;
}